<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/static/pics/logo.png" width="40" height="40" alt="logo"></a>
  <ul class="navbar-nav">
    {% if 'username' in session %}
    <li class="nav-item h3">    
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <li class="nav-item h3">    
      <a class="nav-link" href="/users/{{session['username']}}">User page</a>
    </li>
      {% else %}
    <li class="nav-item h3">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item h3">
      <a class="nav-link" href="/register">Register</a>
    </li>
      {% endif %}
    </li>
  </ul>
</nav>
<div class="jumbotron jumbotron-fluid text-center" style="background-image: url(https://images.unsplash.com/photo-1438907046657-4ae137eb8c5e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGZvb2R8ZW58MHwwfDB8Ymx1ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);">
  <p class="p-3 mb-2 display-4 text-dark"><b> Users can search for a recipe from any ingredients!</b></p>
  <p class="p-4"><b>We utilize API calls to search over 2.3 million recipes!</b> </p>
</div>
<div class="container mt-5">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-info">{{ msg }}</div>
  {% endfor %}
  {% block content %}
  {% endblock %}
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/models.js"></script>
  <script type="text/javascript" src="/static/main.js"></script>
  <script type="text/javascript" src="/static/recipe.js"></script>
  <script type="text/javascript" src="/static/nav.js"></script>
</body>

</html>