
    {% block title %}
        <title>Search for a recipe by entering ingredients.</title> 
    {% endblock %}

{% extends 'base.html' %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
  <section class="bg-gray text-center">      
      <h1 class="recipe-header"> Enter 1-5 ingredients to find matching recipes!</h1>
    <form class="form">
      <div class="form-row align-items-center ">
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="ing1" placeholder="required" required>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="ing2" placeholder="optional">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="ing3" placeholder="optional">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="ing4" placeholder="optional">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control mb-2" id="ing5" placeholder="optional">
        </div>
        <div class="col-auto">
          <button type="submit" id="recipe_search" class="btn btn-primary mb-2">Submit ingredients</button>
        </div>
      </div>
    </form>
  </section>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-2">
        <h2>Recipe Matches:</h2>
      </div>
      <div class="col-md-8">
        <h2>Recipe ingredients</h2>
      </div>
      <div class="col-md-2">
        <h2>Recipe instructions</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid" id="recipe-grid">
    </div>
  </div>

{% endblock %}