{% extends 'base.html' %}

{% block title %}{{ user.first_name }}{{ user.last_name }}{% endblock %}}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.2, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
    {% if 'username' in session %}
    <h3>{{ user.first_name }} {{ user.last_name }}'s favorite recipes page.</h3>
    <p>Here you can view your favorite recipes or remove old ones.</p>
    <form action="{{ url_for('show_user', username=user.username) }}">
    <button class="btn btn-primary mb-2" >Return to users page.</button>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h2>Recipe Matches:</h2>
          </div>
          <div class="col-md-6">
            <h2>Recipe ingredients</h2>
          </div>
          <div class="col-md-2">
            <h2>Recipe instructions</h2>
          </div>
        </div>
      </div>
    </form>
    <div class="container-fluid">
        <div class="row-fluid" id="favorite-grid">          
            {% for key, value in fav_dict.items() %}
                {% for recipe in value %}
                    <div class="row">
                        <div class="col-md-4 text-align" id="{{ recipe.name }}"><h3>{{ recipe.name }}</h3><br>
                        <img class="visible-lg" src="{{ recipe.img }}" alt="{{ recipe.img }}" width="200" height="200" /><br>
                        <button type="submit" id="AddFavorite" data-id="{{ recipe.uri }}" class="favorite-add btn btn-danger mb-2">
                          <i class="fas fa-heart"></i>
                        </button>
                        </div>
                        <div class="col-md-6 text-align" id="ingredients_{{ recipe.name }}"><h5>{{ recipe.ingredients|join(' ') }}</h5>    
                        </div>
                        <div class="col-md-2 text-align" id="instructions_{{ recipe.name }}">
                        <a href="{{ recipe.url }}" target="_blank" rel="noopener noreferrer"><h3>View cooking instructions for {{ recipe.name }}!</h3></a><br>  
                        </div>
                    </div><br><hr>
                {% endfor %}
            {% endfor %}
            {% if not fav_dict.items() %}
            <div class="row">
              <div class="alert alert-danger">
                <h2>No recipes favorited, add some!</h2>
              </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock %}
