{% extends 'base.html' %}

{% block title %}{{ user.first_name }}{{ user.last_name }}{% endblock %}}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.2, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
  {% if 'username' in session %}
  <h3>{{ user.username }}'s home page</h3>

  <form action="{{ url_for('homepage') }}">
    <button class="btn btn-primary mb-2" >Search recipes by ingredients!</button>
  </form>
  <hr>
    <form action="{{ url_for('show_favorites', username=user.username) }}">
      <button class="btn btn-primary mb-2" >Show your favorite recipes!</button>
    </form>
    <div class="container-fluid">
      <div class="row-fluid" id="favorite-grid">
    </div>
    
  {% endif %}
{% endblock %}

